body{
    background-color: black;
    font-family: 'Handlee', cursive;
}
.postcard{
    width: 500px;
    height: 350px;
    background: white;
    margin:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.postcard-header{
    overflow:hidden;
}
.postcard h1{
    display:inline;
    font-size: 35px;
}
.postcard-body{
    overflow: hidden;
}
input{
    font-size: 18px;
    font-family: 'Handlee', cursive;
}
.left-part{
    float:left;
    width: 50%;
}
.right-part{
    float:right;
    width: 50%;
}
.right-part input{
    display:block;
}
.postcard-header img{
    max-width: 90px;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
}
.postcard-footer{
    padding:10px;
    text-align: center;
}
.postcard-footer input[type=submit]{
    border:none;
    border-bottom: 1px solid grey;
}
.postcard-body input[type=text]{
    border:none;
    border-bottom:1px solid gray;
    font-family: 'Handlee', cursive;
    width:240px;
    margin-bottom: 10px;
    padding: 5px;
}